
  <%= form_for @pin, html: {multipart: true} do |f| %>
    <% if @pin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pin.errors.count, "error") %> непозволили сохранить данный Пин</h2>

        <ul>
        <% @pin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :address, "Адрес" %><br>
      <%= f.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :metro, "Ближайшая станция метро" %><br>
      <%= f.text_field :metro, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :price, "Цена" %><br>
      <%= f.text_field :price, class: "form-control" %> Рублей в месяц
    </div>

     <div class="form-group">
      <%= f.label :bedroom_number, "Количество комнат" %><br>
      <%= f.text_field :bedroom_number, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Описание" %><br>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <%= fields_for @pic, html: { multipart: true } do |u| %>
    <div class = "form-group">
      <%= u.label :image, "Добавьте фотографии квартиры" %>
      <%= u.file_field :image, :class => "gallery", :rel => "group1", class: "form-control" %>
    </div>  
  <% end %>

    <div class="actions">
      <%= f.submit "Добавить квартиру", class: "btn btn-primary" %>
    </div>
    
  <% end %>