<div class = "list-group">
  <% @pins.each do |pin| %>
    <%= link_to pin, class: "list-group-item" do %>
      <%= image_tag pin.image.url(:medium) %>
      <%= pin.description %>
      <%= pin.address %>
      <%= pin.bedroom_number %>
      <%= pin.price %>
    <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <% if pin.user == current_user %>
        <td><%= link_to 'Редактировать', edit_pin_path(pin), class: "btn btn-secondary" %></td>
        <td><%= link_to 'Удалить', pin, class: "btn btn-secondary", method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        <% end %>
      </tr>
  <% end %>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'Новый Пин', new_pin_path %>
<% end %>