<div class="container">
<%= form_tag pins_path, :method => :get do %>
  <div class="row bottom" style="vertical-align:bottom">
    <div class="col-xs-4 col-md-3 form-group">
      <label for="Area">Район поиска</label>
      <%= text_field_tag :search, params[:search], :class =>"form-control", :placeholder => "Введите район поиска" %>
    </div>
    <div class="col-xs-2 col-md-1">
      <label for="Number of rooms">Комнаты</label>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5+</option>
      </select>  
    </div>
    <div class="col-xs-3 col-md-3">
      <div class="form-group">
        <label for="Price">Цена до</label>
        <%= number_field_tag :price_cap, params[:price_cap], :class =>"form-control", :placeholder => "Введите максимальную цену" %>
      </div> 
    </div>
    <div class="col-xs-3 col-md-3">
      <%= submit_tag 'Найти', :name => nil, class: "btn btn-primary bottom"%>
    </div>

  </div>
<% end %>
<div class = "list-group">
  <% @pins.each do |pin| %>
    <%= link_to pin, class: "list-group-item" do %>
      <div class = "row">
        <div class = "col-xs-12 col-sm-4">
          <%= image_tag pin.pics[0].image.url :medium, class: "img-responsive" %>
        </div>
        <div class = "col-xs-12 col-sm-4">
          <h2><%= pin.address %></h2>
          <% if pin.metro == nil %>
          <% else %>
            <h5><span class="glyphicon glyphicon-map-marker"></span>Ст. метро <%= pin.metro %></h5>
          <% end %>
          <h6>Добавлено <%= pin.created_at.day %>-<%= pin.created_at.month %>-<%= pin.created_at.year%> </h6>
        </div>  
        <div class = "col-xs-12 col-sm-4">
          <table class = "table table-bordered" width = "100%">
            <tr>
              <td>
                <h5 align="center">Количество комнат</h5>
                <h2 align="center"><%= pin.bedroom_number %></h2>
              </td>  
              <td>
                <h5 align="center"> Цена</h5>
                <h2 align="center"><%= pin.price %></h2>
                <h5 align="center">рублей в месяц</h5>
              </td>  
            </tr>
          </table>  
        </div>  <!-- info section of the apartments collapsed !--> 
      </div>  <!-- one apartment raw collapsed !--> 
    <% end %>
        <% if pin.user == current_user %>
        <td><%= link_to 'Редактировать', edit_pin_path(pin), class: "btn btn-secondary" %></td>
        <td><%= link_to 'Удалить', pin, class: "btn btn-secondary", method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        <% end %>
  <% end %>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'Добавить квартиру', new_pin_path %>
<% end %>
</div>