<% @pin.pics.each do |x| %>
	<%= link_to image_tag(x.image.url(:medium)), 
									x.image.url(:large),
									:class => "gallery" %>

<% end %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Описание:</strong>
  <%= @pin.description %>
</p>
<% if @pin.user == current_user %>
	<%= link_to 'Редактировать', edit_pin_path(@pin) %> |
<% end %>	
<%= link_to 'Назад', pins_path %>