<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :default %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript">
		$(document).ready(function() {
    	$("a.gallery").fancybox();
		});
	</script>
</head>
<body>
		<%= render "layouts/header" %>
		<div class="container">
				<% flash.each do |name,msg| %>
					<%= content_tag(:div, msg, class: "alert alert-info") %>
				<% end %>
				<%= yield %>
	</div>

</body>
</html>
